* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EEE;
    color: #444;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    padding: 5px 10px;
}

header {
    position: fixed;
    background-color: grey;
    color: #FFF;
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 100%;
}

a:visited{
    color: #FFF;
}

a:link{
    color: #FFF;
    text-decoration: none;
}

.header-title {
    float: left;
    height: 100%;
}

.header-container{
    position: fixed;    
}

.header-menu{
    float: right;
    position: relative;
    height: 100%;
    font-size: 36px;
}

.header-bg{
    background-color: grey;
    color: #FFF;
    height: 60px;
    width: 100%;
}


.header-menu a {
    display: block;
    height: 100%;
}

.header-menu a:hover {
    background-color: #999;
}

footer {
    background-color: #DDD;
    margin: 0px;
    padding: 0px;
}

section {
    margin: 20px;
    height: 300px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px lightgray;
}