/****************************************
*****************COMMON******************
****************************************/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EEE;
    color: #444;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    padding: 5px 10px;
}

a:visited{
    color: #FFF;
}

a:link{
    color: #FFF;
    text-decoration: none;
}

/****************************************
*****************HEADER******************
****************************************/

header {
    position: fixed;
    /* opacity: 0.8; */
    color: #FFF;
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 100%;
}

.header-title {
    float: left;
    height: 100%;
}

.header-menu-container{
    float: right;
}

.header-menu{
    float: left;
    position: relative;
    height: 100%;
    font-size: 30px;
}

.header-menu a {
    display: block;
    padding: 15px;
    line-height: 100%;
}

.header-menu a:hover {
    background-color: #999;
}

.header-bg{
    /* background-color: grey; */
    background-color: rgba(128, 128, 128, 0.8);
    height: 60px;
    width: 100%;
}

/****************HAMBURGER*******************/

.hamburger{
    position: relative;
    width: 60px;
    z-index: 999;
}

.hamburger div{
    position: absolute;
    left: 9px;
    box-sizing: border-box;
    width: 70%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 1.0s;
}

.hamburger div:nth-of-type(1) {
    top: 12px;
}
.hamburger div:nth-of-type(2) {
    top: 28px;
}
.hamburger div:nth-of-type(3) {
    top: 44px;
}

/* animation */
/* 修正中 */
/* .hamburger {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.hamburger div:nth-of-type(3), 
.hamburger.active div:nth-of-type(3) {
    transition: none;
}
.hamburger.active {
    -webkit-transform: rotateX(720deg);
    transform: rotateX(720deg);
}
.hamburger.active div:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
.hamburger.active div:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
.hamburger.active div:nth-of-type(3) {
    opacity: 0;
}
   */

/****************************************
*****************MAIN********************
****************************************/

section {
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px lightgray;
}

.flex-container{
    display: flex;
}

/* section 1 Fortune */

#section01-fortune-wrapper {
    justify-content: space-around;

}

.section01-box {
    margin: 30px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    text-align: center;
    line-height: 100px;
    background-color: skyblue;
    box-shadow: 0px 0px 10px -2px lightgray;
    transition: 1.0s;
}

/* .section01-circle {
    background-color: pink;
    border-radius: 50%;
    transition: 1.0s;
    transform: rotate(360deg);
} */

.section01-win {
    background-color: pink;
    border-radius: 50%;
    transition: 1.0s;
    transform: rotate(360deg);
}

.section01-lose {
    background-color: lightgray;
    transition: 1.0s;
    transform: rotate(360deg) scale(0.8);
}

#section01-btn {
    margin: 40px auto;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    background-color: #f55;
    color: #FFF;
    font-weight: bold;
    font-size: 50px;
    box-shadow: 0 10px 0 #f33;
    user-select: none;
}

#section01-btn:hover {
    opacity: 0.8;
    
}

#section01-btn:active {
    margin-top: 45px;
    margin-bottom: 35px;
    box-shadow: 0 5px 0 #f33;

}

/* section X XXXXX */

/* section X XXXXX */

/* section X XXXXX */

/* section X XXXXX */

/* section X XXXXX */

/* section X XXXXX */

/* section X XXXXX */


/****************************************
*****************FOOTER******************
****************************************/

footer {
    background-color: #DDD;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

#footer-link-container{
    display: inline-flex;
    flex-direction: column;
}

footer a {
    margin: 10px;
}
