/****************************************
*****************COMMON******************
****************************************/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EEE;
    color: #444;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    padding: 5px 10px;
}

/****************************************
*****************HEADER******************
****************************************/

header {
    position: fixed;
    background-color: grey;
    color: #FFF;
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 100%;
}

a:visited{
    color: #FFF;
}

a:link{
    color: #FFF;
    text-decoration: none;
}

.header-title {
    float: left;
    height: 100%;
}

.header-menu-container{
    float: right;    
}

.header-menu{
    float: left;
    position: relative;
    height: 100%;
    font-size: 40px;
}

.header-bg{
    background-color: grey;
    color: #FFF;
    height: 60px;
    width: 100%;
}

.header-menu a {
    display: block;
    height: 100%;
}

.header-menu a:hover {
    background-color: #999;
}

/****************HAMBURGER*******************/

.hamburger{
    position: relative;
    width: 60px;
}

.hamburger div{
    position: absolute;
    left: 9px;
    box-sizing: border-box;
    width: 70%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 1.0s;
}

.hamburger div:nth-of-type(1) {
    top: 12px;
}
.hamburger div:nth-of-type(2) {
    top: 28px;
}
.hamburger div:nth-of-type(3) {
    top: 44px;
}

/* animation */
/* 修正中 */
.hamburger {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.hamburger div:nth-of-type(3), 
.hamburger.active div:nth-of-type(3) {
    transition: none;
}
.hamburger.active {
    -webkit-transform: rotateX(720deg);
    transform: rotateX(720deg);
}
.hamburger.active div:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}
.hamburger.active div:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
.hamburger.active div:nth-of-type(3) {
    opacity: 0;
}
  

/****************************************
*****************MAIN********************
****************************************/

section {
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px lightgray;
}

.flex-container{
    display: flex;
}

/* section 1 Fortune */

.section01-box {
    display: flex;
    margin: 30px;
    height: 100px;
    width: 100px;
    background-color: skyblue;
    transition: 0.5s;
}
.section01-circle {
    background-color: pink;
    border-radius: 50%;
    transition: 0.5s;
    transform: rotate(360deg);
}

/* section X XXXXX */


/****************************************
*****************FOOTER******************
****************************************/

footer {
    background-color: #DDD;
    margin: 0px;
    padding: 0px;
}
